<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Your styles -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Document</title>
</head>
<body>
    <header>
        <h1>LOGO Test 1</h1>
        <nav>
            <span class="material-symbols-outlined" id="menuIcon">
                menu
                </span>
        </nav>
    </header>


    <main>
        <div id="AppName">
            <div id="createAccount">
                <div id="accountDetails">
                    <h1>Create Account</h1>
                    <input v-model="userName" type="text" id="usernameInput" placeholder="Enter Displayed Name" required><br>
                    <input v-model="linkedIn" type="url" id="linkedINUrl" placeholder="Enter LinkedIn URL" required><br>
                    <div v-on:click="postUserInfo()" id="moreCompButton">
                        Create Account
                    </div>
    
                </div>
                
            </div>



        </div>
    </main>
    <aside></aside>
    <footer>
    </footer>


    <!-- Vuejs development -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- Vuejs Production -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> -->
    <!-- Your javaScript -->
    <script type="module" src="createAccount.js"></script>
</body>
</html>
