<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<style>
    /* Prevent flickering of Vue bindings */
    [v-cloak] {
      display: none;
    }
  </style>
<body>
  <header>
    <h1>LOGO Test 1</h1>
        <nav>
            <span class="material-symbols-outlined" id="menuIcon">
                menu
                </span>
        </nav>
  </header>
    <div id="dashboardApp" v-cloak>
        <div id="createCompBig">
          <h1>Create Competition</h1>
          <input type="text" v-model="competitionName" id="competitionNameInput" placeholder="Competition Name" required><br>

          <input type="text" v-model="imageUrl" id="imageUploadInput" placeholder="Image Upload" required><br>

          <input type="email" v-model="judgeEmails" id="judgesEmailsInput" placeholder="Judges Emails (separate multiple emails with commas)" required multiple><br>

          <input type="text" v-model="competitionPasscode" id="competitionPasscodeInput" placeholder="Competition Passcode" required><br>

          <textarea v-model="competitionDescription" id="competitionDescriptionInput" placeholder="Competition Description" required></textarea><br>

          <div id="createCompButton" v-on:click="submitNewComp()">Submit</div>


        </div>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="module" src="createCompetition.js"></script>
</body>
</html>