<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Your styles -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Document</title>
</head>
<style>
    /* Prevent flickering of Vue bindings */
    [v-cloak] {
      display: none;
    }
  </style>
<body>
    <header>
        <h1>LOGO Test 1</h1>
        <nav>
            <span class="material-symbols-outlined" id="menuIcon">
                menu
                </span>
        </nav>
    </header>


    <main>
        <div id="AppName">

            <!-- INDEX HOME PAGE -->
        <div v-if="page=='index'">
        <div id="welcomeHero">
            <div id="welcomeTextOverlay">
                <h1>Competitors Welcome</h1>
                <h2>Your idea, your competition, your legacy.</h2>
                <a  href="createCompetition.html" id="moreCompButton" >
                    Create Competition
                </a>
            </div>

        </div>
        <div id="homeShowcaseComp">
            <h2> Recent Competitions</h2>
            <div id="featuredCompWrapper">
                    <div class="featureCompTile" v-on:click="goToComp(competition)" v-for="competition in competitions.slice(0, 3)" :style="{ backgroundImage: `url(${competition.FeatureImageUrl})` }">
                        <h3 class="featuredCompTitle" > {{competition.name}}</h3>
                    </div>
            </div>
            <div id="moreCompButton" v-on:click="changePage('competitionShowcase')" >
                View More
            </div>
        </div>
    </div>






    

        
            <!-- DISPLAY ALL COMPETITIONS -->
        
            <div id="homeShowcaseComp" v-if="page=='competitionShowcase'">
                <h1>Competitions</h1>
                <div id="featuredCompWrapper" >
                    
                    <div class="featureCompTile" v-on:click="goToComp(competition)" v-for="competition in competitions" :style="{ backgroundImage: `url(${competition.FeatureImageUrl})` }">
                        <h3 class="featuredCompTitle" > {{competition.name}}</h3>
                    </div>
                    
                </div>
            </div>
          
            



            <!-- CREATE ENTRY -->

            <!-- NEEDS WORK WHEN API IS COMPLETEDS -->

            <div id="dashboardApp" v-cloak v-if="page=='createEntry'">
                <div id="createCompBig">
                  <h1>Create Entry</h1>
                  <input type="text" v-model="entryName" id="competitionNameInput" placeholder="Entry Name" required><br>
        
                  <input type="email" v-model="entryEmails" id="organizerEmailsInput" placeholder="Team Emails (separate multiple emails with commas)" required multiple><br>
        
                  <input type="text"  id="imageUploadInput" placeholder="Image Upload" ><br>
        
                  <input type="url" v-model="youtubeUrl" id="youtubeUrl" placeholder="Enter Youtube URL" required><br>
        
                  <input type="url" v-model="gitHubUrl" id="gitUrl" placeholder="Enter GitHub URL"><br>
        
                  <input type="text" v-model="projectPasscode" id="projectPasscodeInput" placeholder="Project Passcode" required><br>
        
                  <input type="text" v-model="categoryEntry" id="categoryInput" placeholder="Category" required><br>
        
                  <input type="text" v-model="teamNumInput" id="teamNumInput" placeholder="Enter Table Location" required><br>
        
                  <textarea v-model="entryDescription" id="projectDescriptionInput" placeholder="Project Description" required></textarea><br>
        
                  <div id="createEntryButton" v-on:click="createEntry()">Submit</div>
        
        
                </div>
            </div>






<!-- MAIN COMPETITION PAGE NEEDS ENTRIESS -->
            <div id="homeShowcaseComp" v-if="page=='competition'">
                <div id="welcomeHero"  :style="{ backgroundImage: `url(${competition.FeatureImageUrl})` }">
                    <div id="welcomeTextOverlay">
                        <h1>{{competition.name}}</h1>
                        <p>
                           {{competition.description}}
                        </p>
                        <a href="enterCompetition.html" id="moreCompButton">
                            Enter
                        </a>
        
                    </div>
        
                </div>
                <div id="compMainShowcase">
                    <div id="mainCompWrapper">
                            <div class="featureEntryTile">
                                <h3 class="featuredEntryTitle"> Entry Title</h3>
                            </div>
                            <div class="featureEntryTile">
                                <h3 class="featuredEntryTitle"> Entry Title</h3>
                            </div>
                            <div class="featureEntryTile">
                                <h3 class="featuredEntryTitle"> Entry Title</h3>
                            </div>
                    </div>
                    <div v-on:click="changePage('allEntries')" id="moreCompButton">
                        View More
                    </div>
                </div>
            </div>


            <!-- DISPLAY ALL ENTRIES -->

            <div id="homeShowcaseComp" v-if="page=='allEntries'">
                <h1>Competition Name Entries</h1>
                <div id="myBtnContainer">
                    <button class="btn active" onclick="filterSelection('all')"> Show All</button>
                    <button class="btn" onclick="filterSelection('beginner')"> Beginner</button>
                    <button class="btn" onclick="filterSelection('advanced')"> Advanced</button>
                    <button class="btn" onclick="filterSelection('industry')"> Industry</button>
                  </div>
                
                  <div id="compMainShowcase">
                    <div id="mainCompWrapper">
                            <div class="featureEntryTile">
                                <h3 class="featuredEntryTitle"> Entry Title</h3>
                            </div>
                            <div class="featureEntryTile">
                                <h3 class="featuredEntryTitle"> Entry Title</h3>
                            </div>
                            <div class="featureEntryTile">
                                <h3 class="featuredEntryTitle"> Entry Title</h3>
                            </div>
                    </div>
                    
                </div>
            </div>
        


        </div>
    </main>
    <aside></aside>
    <footer>
    </footer>


    <!-- Vuejs development -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- Vuejs Production -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> -->
    <!-- Your javaScript -->
    <script type="module" src="code.js"></script>
</body>
</html>
