[v-cloak] {
    display: none;
  }

body{
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
    margin-bottom:0px;
}
main{
    text-align:center;
    color:white;
    background-color: #011C40;

}



#error{
    margin-left:auto;
    margin-right:auto;
}

#dashboardApp{
    background-color:#081526;
    text-align:center;
    color:white;
    height:100vh;
}

#createCompButton.clicked {
    background-color: #98A6A2;
    color: black;
}

#createCompButton.notclicked {
    background-color: #43AED9;
    color: white;
}

#moreCompButton.clicked {
    background-color: #98A6A2;
    color: black;
}

#moreCompButton.notclicked {
    background-color: #43AED9;
    color: white;
}

.login{
    background-color: #98A6A2;
    text-align:center;
    height:100vh;

}

#createAccount{
    background-color:#081526;
    height:100vh;

}

#accountDetails{
    width:80%;
    margin-left:auto;
    margin-right:auto;

}

#createCompBig{
    background-color: #011C40;
    width:70%;
    margin-left:auto;
    margin-right:auto;
}

input[type=url]{
    width: 80%;
    padding: 12px 20px;
    margin: 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  textarea{
    width: 80%;
    padding: 12px 20px;
    margin: 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

  }

input[type=email]{
    width: 80%;
    padding: 12px 20px;
    margin: 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

#loginButton{
    border: none;
    color: white;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    border-radius:5px;
    font-weight: bold;
    cursor:pointer;
}

#loginButton:hover{
    background-color: #2e7c9b;
}

#loginButton.clicked {
    background-color: #011C40;
}

#loginButton.notclicked {
    background-color: #43AED9;
    color: white;
}



h1{
    margin-top:0px;
    margin-bottom:0px;
    padding:5px;
}

header{
    background-color: #081526;
    color:white;
    display:flex;
    justify-content: space-between;

}

header h1{
    padding:10px;
    margin:0px;
}

#menuIcon{
    font-size: 50px;
}

#welcomeHero{
    background-image: url("imgs/homeHero.jpg");
    width:100%;
    height:390px;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center; 
    align-items: center;
}

#welcomeTextOverlay{
    width:80%;
    color:white;
    text-align:center;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left:auto;
    margin-right:auto;
    padding:10px;

}
#welcomeTextOverlay h1{
    width:100%;
    margin-top:0px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;

}

#homeShowcaseComp{
    background-color: #011C40;
    text-align:center;
    min-height:100vh;
    
}


#mainEnterComp{
    background-color: #011C40;
    text-align:center;
    height:100vh;


}

#compMainShowcase{
    background-color: #011C40;
    text-align:center;

}

#featuredCompWrapper{
    padding-top:10px;
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;

}

#mainCompWrapper{
    padding-top:10px;
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;

}

.featureEntryTile{
    height:312px;
    width:30%;
    min-width: 300px;
    background-image: url("imgs/homeHero.jpg");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
    margin-top:20px;
    text-align:center;
    color:white;
    display:flex;
    justify-content: center;
    align-items: end;
    border-radius:5px;

}

input[type=text]{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

.featureCompTile{
    height:312px;
    width:30%;
    background-image: url("imgs/homeHero.jpg");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
    margin-top:20px;
    text-align:center;
    color:white;
    display:flex;
    justify-content: center;
    align-items: end;
    min-width: 300px;
    border-radius:5px;

}

.featuredCompTitle{
    margin-top:0px;
    background-color: rgba(0, 0, 0, 0.5);
    padding:10px;
}

.featuredEntryTitle{
    margin-top:0px;
    background-color: rgba(0, 0, 0, 0.5);
    padding:10px;
}



#menuIcon {
    font-size: 32px;
    cursor: pointer;
    color: white;
    margin: 10px;
}

#menuDropdown {
    position: absolute;
    top: 50px;
    right: 10px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 100;
}

#menuDropdown ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#menuDropdown li {
    border-bottom: 1px solid #ddd;
}

#menuDropdown li:last-child {
    border-bottom: none;
}

#menuDropdown a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    transition: background 0.3s ease;
}

#menuDropdown a:hover {
    background: #f0f0f0;
}

#entryMinorDeets{
    width:45%;
    height:400px;
    padding:20px;
    background-color:#081526;
    margin-bottom:20px;
    
}

.details-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top:10px;
    margin-bottom: 10px;
}

.details-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.details-list li {
    font-size: 1rem;
    margin-bottom: 8px;
}

.details-list li a {
    color: #007BFF;
    text-decoration: none;
}

.details-list li a:hover {
    text-decoration: underline;
}

#entryHero{
    display:flex;
    justify-content: space-between;
    align-items:center;
    background-color:#011C40;    
}

iframe{
    padding:0px;
    width:80%;
    
}

#entryVideo{
    padding:20px;
    width:85%;
    margin-left:auto;
    margin-right:auto;

}

#entryMainText{
    width:45%;
    height:400px;
    padding:20px;
    background-color:#081526;
    margin-bottom:20px;
}

#votebutton{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    border-radius:5px;
    font-weight: bold;
    cursor:pointer;

}

#votebutton:hover{
    background-color: #2e7c9b;
}

#votebutton.clicked {
    background-color: #98A6A2;
    color: black;
}

#votebutton.notclicked {
    background-color: #43AED9;
    color: white;
}

#entryDetails{
    display:flex;
    justify-content: space-between;
    align-items:center;
    background-color:#011C40;
    width:90%;
    margin-left:auto;
    margin-right:auto;
    

}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 95%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-left:auto;
    margin-right:auto;
  }
  
  .carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

#createCompButton{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    border-radius:5px;
    font-weight: bold;
    cursor:pointer;

}




#createCompButton:hover{
    background-color: #2e7c9b;
}

#createEntryButton{
    background-color:#43AED9;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    border-radius:5px;
    font-weight: bold;
    cursor:pointer;

}

#createEntryButton:hover{
    background-color: #2e7c9b;
}


#moreCompButton{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    border-radius:5px;
    font-weight: bold;
    cursor:pointer;
}

#moreCompButton:hover{
    background-color: #2e7c9b;
}

.indexButton{
    background-color: #43AED9;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    border-radius:5px;
    font-weight: bold;
    cursor:pointer;
}

.indexButton:hover{
    background-color: #2e7c9b;

}


 @media (max-width: 480px){ 
    #entryHero{
        background-color:#011C40;
        display:block;
        
        
    }
    
    iframe{
        padding:0px;
        width:80%;
        
    }
    
    #entryVideo{
        margin-left:auto;
        margin-right:auto;
        padding:20px;
        width:80%;
    
    }
    
    #entryMainText{
        margin-left:auto;
        margin-right:auto;
        width:80%;
        padding:20px;
    }
    body{
        width:390px;
        margin-left:auto;
        margin-right:auto;
        margin-top:0px;
        margin-bottom:0px;
    }

    
    .login{
        background-color: #98A6A2;
        text-align:center;
        height:100vh;
    
    }
    
    

    h1{
        margin-top:0px;
        margin-bottom:0px;
        padding:5px;
    }
    
    header{
        background-color: #081526;
        color:white;
        display:flex;
        justify-content: space-between;
    
    }
    
    header h1{
        padding:10px;
        margin:0px;
    }
    
    #menuIcon{
        font-size: 50px;
    }
    
    #welcomeHero{
        background-image: url("imgs/homeHero.jpg");
        width:390px;
        height:390px;
        background-position:center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center; 
        align-items: center;
    }
    
    #welcomeTextOverlay{
        width:80%;
        color:white;
        text-align:center;
        background-color: rgba(0, 0, 0, 0.5);
        margin-left:auto;
        margin-right:auto;
        padding:10px;
    
    }
    #welcomeTextOverlay h1{
        width:100%;
        margin-top:0px;
        margin-left:auto;
        margin-right:auto;
        text-align:center;
    
    }
    
    
    
    
    #mainEnterComp{
        background-color: #011C40;
        text-align:center;
        height:100vh;
    
    
    }
    
    
    
    #featuredCompWrapper{
        padding-top:10px;
    
    }
    
    #mainCompWrapper{
        padding-top:10px;
    
    }
    
    .featureEntryTile{
        height:312px;
        width:80%;
        background-image: url("imgs/homeHero.jpg");
        background-position:center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:10px;
        text-align:center;
        color:white;
        display:flex;
        justify-content: center;
        align-items: end;
        border-radius:5px;
    
    }
    
    
    .featureCompTile{
        height:312px;
        width:80%;
        background-image: url("imgs/homeHero.jpg");
        background-position:center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:10px;
        text-align:center;
        color:white;
        display:flex;
        justify-content: center;
        align-items: end;
        border-radius:5px;
    
    }
    
    .featuredCompTitle{
        margin-top:0px;
        background-color: rgba(0, 0, 0, 0.5);
        padding:10px;
    }
    
    .featuredEntryTitle{
        margin-top:0px;
        background-color: rgba(0, 0, 0, 0.5);
        padding:10px;
    }

    

} 